<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto MVC</title>
        <link rel="stylesheet" href="/assets/css/estilos.css">
        <link rel="stylesheet" href="/assets/fontawesome/all.min.css">
    </head>
    <body>
        <header id="header">
            <div class="container">
                <h1>Node Todo</h1>

                <nav id="menu">
                    <ul>
                        <li><a href="/tasks/">Ver todos</a></li>
                        <li><a href="/tasks/add">Criar</a></li>
                    </ul>
                </nav>
            </div>
        </header>