<%- include('partials/head') %>

<div class="container">
    <h3 style="color: red;">Algo de errado aconteceu!!!</h3>
    <p style="text-align: center;">Tente de novo mais tarde!</p>    
</div>

<%- include('partials/body') %>